<div class="container__menu-bar">
  <ul>
    <li>
      <a
        href="https://www.linkedin.com/in/gabriel-correia-6b2bb3276/"
        target="_blank"
        >Linkedin</a
      >
    </li>
    <li><span>●</span></li>
    <li>
      <a href="https://github.com/GabrielCorreia19" target="_blank">Github</a>
    </li>
    <li><span>●</span></li>
    <li>
      <a
        href="https://www.instagram.com/biel.bob/?next=https%3A%2F%2Fwww.instagram.com%2Fdirect%2Finbox%2F%3F__coig_login%3D1"
        target="_blank"
        >Instagram</a
      >
    </li>
  </ul>
</div>
